/*tag's*/

body {
    padding-top: 0px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #ffffff8e !important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: #fff;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.5;
}

i:hover {
    color: rgb(241, 36, 105);
}

p {
    color: #ffffff;
}


/*classes's*/

.colored_section {
    --main-bg-color: #189AB4;
    color: #fff;
}

.white_section {
    --bg-color: #fff;
}

.big_heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.row {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.features-container .py-5 {
    padding: 0 !important;
    padding-bottom: 3rem !important;
}

.content_box {
    padding: 100px;
}

.big_icon {
    color: #ef8172;
    padding: 10%;
}

.pricing_table {
    padding-top: 3%;
}

.social_icon {
    padding: 20px;
    color: #ff4c68;
    text-decoration: none;
}


/*id's*/

#title {
    background-color: var(--main-bg-color);
    height: 70%;
    text-align: left;
}

#features {
    background-color: var(--bg-color);
    position: relative;
}

#press {
    background-color: var(--main-bg-color);
}

#pricing {
    padding: 10%;
}

#cta {
    padding: 5% 20%;
    background-color: var(--main-bg-color);
}

#footer {
    padding: 5% 20%;
    background-color: var(--bg-color);
}


/* navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat", "san-serif";
    font-size: 1.2rem;
}

.navbar-brand {
    font-family: "Ubuntu", "sans-serif";
    font-weight: 600;
    font-size: 3rem;
}

.company_name {
    font-size: 2.5rem;
}

.press_image {
    margin: 20px;
    width: 15%;
}


/* download buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}


/* Testimonials section */

.comments {
    padding: 3% 15%;
    background-color: var(--main-bg-color);
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

@media (max-width: 992px) {
    #title {
        text-align: center;
    }

    #main_img {
        position: static;
        transform: rotate(0);
        width: 100%;
    }
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.disGrid-item {
    display: inline;
    margin: 0;
    box-sizing: border-box;
}





.disPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.disCard-root {
    overflow: hidden;
}

.disPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.makeStyles-root-17 {
    /* width: 250px; */
    background: none;
    margin-top: 40px;
    border-radius: 20px;
}

.disPaper-rounded {
    border-radius: 4px;
}

.disCardMedia-root {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.makeStyles-image-19 {
    width: 250px;
    height: 340px;
    object-fit: contain;
    border-radius: 20px;
}

.makeStyles-image-19:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: "Helvetica";
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: attr(alt);
}


.disCardMedia-media {
    width: 100%;
}

.disCardMedia-img {
    object-fit: contain;
    background-color: white;
    padding: 20px;
    image-rendering: pixelated;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
        border: 4px solid #f44336;
        border-bottom-color: transparent;
    }

    50% {
        transform: scale(0.5);
        border: 4px solid #673ab7;
        border-bottom-color: transparent;
    }

    100% {
        transform: scale(1);
        border: 4px solid #f44336;
        border-bottom-color: transparent;
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
        border: 4px solid #f44336;
        border-bottom-color: transparent;
    }

    50% {
        transform: scale(0.5);
        border: 4px solid #673ab7;
        border-bottom-color: transparent;
    }

    100% {
        transform: scale(0);
        border: 4px solid #f44336;
        border-bottom-color: transparent;
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
        border: 4px solid #f44336;
        border-bottom-color: transparent;
    }

    50% {
        transform: translate(12px, 0);
        border: 4px solid #673ab7;
        border-bottom-color: transparent;
    }

    100% {
        transform: translate(24px, 0);
        border: 4px solid #f44336;
        border-bottom-color: transparent;
    }
}

.disCardContent-root {
    padding: 16px;
    background-color: #fff;
}

.disTypography-root {
    margin: 0;
}

.makeStyles-bodyText-24 {
    color: white;
}

.disTypography-h5 {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}

.disTypography-gutterBottom {
    margin-bottom: 0.35em;
}


.disTypography-body2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}


.disTypography-colorTextSecondary {
    color: rgba(0, 0, 0, 0.54);
}








.principal {

    width: 100%;
    background: #e6e4e4c4;
    color: #000000;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .principal .fa-lock {
    position: relative;
    font-size: 25px;
    color: #000000;
  }
  
  .principal .fa-copy {
    position: relative;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
  }

  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#instructions {
  display: none;
}

#results,
body:hover #instructions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
}

a:visited {
  color: inherit;
}

#results {
  display: none;
  cursor: default;
}

#results .content,
#instructions .content {
  max-width: 300px;
  padding: 50px;
  border-radius: 20px;
}

#score {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: 30px;
  right: 30px;
}

#youtube,
#skillshare,
#youtube-card,
#skillshare-card {
  display: none;
  color: black;
}

@media (min-height: 425px) {
  /** Youtube logo by https://codepen.io/alvaromontoro */
  #youtube,
  #skillshare {
    z-index: 50;
    width: 100px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    transform: scale(0.8);
    transition: transform 0.5s;
  }

  #youtube {
    display: block;
    background: red;
    right: 20px;
    border-radius: 50% / 11%;
  }

  #skillshare {
    display: block;
    left: 20px;
    color: white;
    font-size: 1.8em;
    font-weight: extra-bold;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }

  #youtube:hover,
  #youtube:focus {
    transform: scale(0.9);
    color: black;
  }

  #skillshare:hover,
  #skillshare:focus {
    transform: scale(0.9);
    color: #002333;
  }

  #youtube::before {
    content: "";
    display: block;
    position: absolute;
    top: 7.5%;
    left: -6%;
    background: red;
    border-radius: 9% / 50%;
  }

  #youtube::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 45px;
    height: 30px;
    border: 15px solid transparent;
    box-sizing: border-box;
    border-left: 30px solid white;
  }

  #youtube span {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #youtube:hover + #youtube-card,
  #skillshare:hover + #skillshare-card {
    z-index: 49;
    display: block;
    position: fixed;
    bottom: 12px;
    width: 300px;
    background-color: white;
  }

  #youtube:hover + #youtube-card {
    right: 10px;
    padding: 25px 130px 25px 25px;
  }

  #skillshare:hover + #skillshare-card {
    left: 10px;
    padding: 25px 25px 25px 130px;
  }
}








/*   
body
{
  background-color:#141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
} */


#handboy
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
    
}


#girllight
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl
{
    animation: swinghair ease-in-out 1.3s infinite alternate;
   transform-origin: 60% 0%;
    transform-box: fill-box;
  
}

#zero
{
  transform-origin:bottom;
  transform-box:fill-box;
  
}

/*************swing************/
@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}


/*************swing hair************/
@keyframes swinghair {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-6deg); }
}



